@media screen and (max-width: 61.938em) {
  .footer .footer-links{display: block;}
  .footer .quick-links:nth-child(1) { width: 100%;}
.footer .quick-links:nth-child(2) { width: 100%;}
.footer .quick-links:nth-child(3) { width: 100%;}
.footer .quick-links:nth-child(4) { width: 100%;}
.footer .copy-right{display: block;}
}

/* Extra small devices (phones) */
@media (max-width: 576px) {
 
  }


/* Small devices (tablets) */  
@media (min-width: 577px) and (max-width: 768px) {
  
  }


/* Medium devices (small laptops, tablets in landscape) */  
@media (min-width: 769px) and (max-width: 992px) {
 
  }


/* Large devices (desktops, large laptops) */  
@media (min-width: 993px) and (max-width: 1200px) {
   
  }


/* Extra large devices (large desktops, 4K screens) */  
@media (min-width: 1201px) {
  
  }