*{margin:0;padding:0;box-sizing:border-box}
body { font-family: 'Poppins', sans-serif;}

.title-red-center {width: 100%; position: relative; padding: 0; text-align: center; margin: 0px 0px 70px 0px;}
.title-red-center h2 {color: #a71e22;font-size: 22px;font-weight: 700; text-transform:capitalize;position:relative}
.title-red-center h2::after {content: ""; background: url(../images/title-after-img.png) no-repeat center top; width: 201px; height: 14px; position: absolute; bottom: -30px; left: 50%;transform: translateX(-50%);}

.title-red-left {width: 100%; position: relative; padding: 0; text-align: left; margin: 0px 0px 70px 0px;}
.title-red-left h2 {color: #a71e22;font-size: 22px;font-weight: 700; text-transform:capitalize;position:relative}
.title-red-left h2::after {content: ""; background: url(../images/title-after-img.png) no-repeat center center; width: 201px; height: 14px; position: absolute; bottom: -30px; left: 0px;}

.banner-sec { position: relative; width: 100%; padding: 0; margin: 0px 0px 15px 0px; display: block; } 
.banner-sec .swiper { width: 100%; height: 100%; } 
.banner-sec .swiper-slide { text-align: center; font-size: 18px; background: #fff; display: flex; justify-content: center; align-items: center; } 
.banner-sec .swiper-slide img { display: block; width: 100%; height: 100%; object-fit: cover; } 
.mob-banner-sec { position: relative; width: 100%; padding: 0; margin: 0px 0px 15px 0px; display: none; } 
.mob-banner-sec .swiper { width: 100%; height: 100%; } 
.mob-banner-sec .swiper-slide { text-align: center; font-size: 18px; background: #fff; display: flex; justify-content: center; align-items: center; } 
.mob-banner-sec .swiper-slide img { display: block; width: 100%; height: 100%; object-fit: cover; }

.transform-agriculture { position: relative; width: 100%; margin: 0; padding: 0; background: #ffffff; padding: 0 5px; }
.transform-agriculture .maindiv {background: url(../images/transform-bg.jpg)no-repeat center center; background-size: cover; position: relative; display: flex; justify-content: space-between; align-items: center; width: 100%;  border-radius: 20px; padding: 3px 3px 0px 0px; }
.transform-agriculture .maindiv .left { position: relative; flex: 1 1 60%; padding: 60px 70px; }
.transform-agriculture .maindiv .left p { margin: 0; font-size: 16px; line-height: 26px; color: #1e1e1e; text-align: justify; }
.transform-agriculture .maindiv .left a{background-color: #a71e22; color: #ffffff; padding: 12px 36px; border-radius: 50px; text-decoration: none; font-size: 16px; font-weight: 500; transition: all 0.5s ease;}
.transform-agriculture .maindiv .left .subtitle { font-weight: 600; color: #000000; }
.transform-agriculture .maindiv .right { position: relative; flex: 1 1 40%; padding: 30px 0px 0px 0px; margin: 0; display: flex; justify-content: flex-end; }
.transform-agriculture .maindiv .right img { width: 100%; height: auto; display: block; border-top-right-radius: 20px; }
.transform-agriculture .maindiv .right .imgdiv{position: relative;width: 100%; bottom: 0;}

.best-selling-seeds{ position: relative; width: 100%; padding: 0; margin: 30px 0px 35px 0px; }
.best-selling-seeds .product-list{margin-bottom: 20px; background: #fbfbfb;}
.best-selling-seeds .product-list .img-section{position: relative; overflow: hidden;}
.best-selling-seeds .product-list .img-section img{width: 100%; height: auto;} 
.best-selling-seeds .product-list .title{background: #f1fff4;}
.best-selling-seeds .product-list .title h3{font-size: 18px; font-weight: 500; color: #a71e22; padding: 15px;}
.best-selling-seeds .product-list .title h3::after{content: "\f178"; font-family: "Font Awesome 6 Free"; font-weight: 900; position: absolute; right: 0; color: #a71e22; font-size: 15px; transition: color 0.3s ease-in-out; background: #aee4b9; text-align: center; padding: 15px; margin-top: -13px;}
.best-selling-seeds .view-btn{background-color: #30a849; color: #ffffff; padding: 12px 36px; border-radius: 50px; text-decoration: none; font-size: 16px; font-weight: 500; transition: all 0.5s ease; display: table; margin: 0 auto;}

.our-founder { position: relative; width: 100%; margin: 0px 0px 30px 0px; padding: 0; background: #ffffff; padding: 0 5px; }
.our-founder .maindiv { position: relative; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; width: 100%; background: #f1fff4; border-radius: 20px; padding: 0px 3px 0px 0px; }
.our-founder .maindiv .left { position: relative; flex: 1 1 60%; padding: 36px 70px 0px 70px; }
.our-founder .maindiv .left p { margin: 0; font-size: 16px; line-height: 26px; color: #1e1e1e; text-align: justify; margin-bottom: 30px; }
.our-founder .maindiv .left strong { font-weight: 600;}
.our-founder .maindiv .right { position: relative; flex: 1 1 40%; padding: 0; margin: 0; display: flex; justify-content: flex-end; }
.our-founder .maindiv .right img { width: 100%; height: auto; display: block; border-top-right-radius: 20px; }

.insights-innovations{position: relative; width: 100%; padding: 0; margin: 0px 0px 30px 0px;}
.insights-innovations .maindiv{position: relative; width: 100%; margin-bottom: 30px;}
.insights-innovations .ins-img-div {position: relative;background-color: #ffffff;width: 100%;box-shadow:-5px 5px 19px rgba(200, 200, 200, 0.5), 5px 5px 19px rgba(200, 200, 200, 0.5);}
.insights-innovations .ins-img-div img{width: 100%; height: auto;}
.insights-innovations .textdiv p{padding: 0px 0px; color: #000000; font-size: 16px; line-height: 27px; font-weight: 500; margin: 15px 0px;}
.insights-innovations .textdiv a{font-size: 14px; color: #a71e22; font-weight: 600; text-decoration: none;}

.about-first {position: relative; width: 100%; padding: 0; margin: 30px 0px 30px 0px;}
.about-first  .four-box-content {padding: 0px 0px 0px 0px;display: flex;-webkit-box-pack: center; -webkit-justify-content: center;-ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center;-ms-flex-align: center; align-items: center; background: #aee4b9; border-radius: 8px;}
.about-first .four-box-content .box-wrapper { display: -ms-grid; display: grid; width: 100%; grid-auto-columns: 1fr; grid-column-gap: 0px; grid-row-gap: 0px; -ms-grid-columns: 1fr 1fr 1fr 1fr; grid-template-columns: 1fr 1fr 1fr 1fr; -ms-grid-rows: auto; grid-template-rows: auto;}
.about-first .four-box-content .box-wrapper .box {text-align: center;border-right: 2px solid #ffffff;  padding-bottom: 20px;}
.about-first .four-box-content .box-wrapper .box .count {font-size: 72px; color: #000000;font-weight: 700; font-family: "Barlow", sans-serif;}
.about-first .four-box-content .box-wrapper .box span { font-size: 18px; font-weight: 500;}
.about-first  .four-box-content .box-wrapper .box .black:after {content: "+";font-size: 48px; color: #ffffff;}
.about-us-sec-second{position: relative; width: 100%; padding: 0; margin: 30px 0px 30px 0px;}
.about-us-sec-second .abt-title{text-align: center; justify-content: center; align-items: center; margin-bottom: 30px;}
.about-us-sec-second .abt-title h3{font-size: 18px; text-transform: uppercase; font-weight: 600;}
.about-us-sec-second .abt-title h2{font-size: 30px; text-transform: uppercase; font-weight: 700; color: #46cc63;}
.about-us-sec-second .textsec{text-align: justify; align-items: center; justify-content: center;}
.about-us-sec-second .textsec p{font-size: 16px; line-height: 26px;}
.about-us-sec-second .ab-img{position: relative; width: 100%;}
.about-us-sec-second .ab-img  img{width: 100%;}
.vision-mission-sec{position: relative; width: 100%; padding: 0; margin: 30px 0px 30px 0px;}
.vision-mission { width: 100%; position: relative; display: flex; justify-content: flex-start;}
.vision-mission .vm-content-bg1 { width: 50%; border: 1px solid #46cc63; padding: 20px; border-radius: 20px; margin: 0px 20px 0px 0px; text-align: center;background: #fbfbfb;}
.vision-mission .vm-content-bg2 {width: 50%;border: 1px solid #46cc63; padding: 20px;border-radius: 20px; margin: 0px 20px 0px 0px;text-align: center; background: #fbfbfb;}
.vision-mission .icon-pane{margin-bottom: 15px;}
.vision-mission h3{margin-bottom: 15px;}
.vision-mission p{font-size: 16px; line-height: 26px; text-align: justify;} 

.tawts{position: relative; width: 100%; padding: 0; margin: 0px 0px 30px 0px; background: #ffffff; padding: 0px 15px;}
.tawts .content-pane{background: #f1fff4; border-radius: 10px; padding: 35px;}
.tawts .content-pane::after{content: ''; width: 996px; height: 595px; background: url(../images/map.png) no-repeat; background-position: center top; position: absolute; top: 40px;}
.tawts .content-pane .detail-cont{position: relative; display: flex; justify-content: space-between; align-items: center;}
.tawts .content-pane .detail-cont .rght-img{position: relative; bottom: -35px;}
.tawts .content-pane .detail-cont .left-content{position: relative; padding: 0px 68px 0px 30px; width: 60%; z-index: 1;}
.tawts .content-pane .detail-cont .left-content p{font-size: 16px; line-height: 27px; color: #000000; margin: 0px 0px 20px 0px; text-align: justify;}
.tawts .content-pane .detail-cont .left-content a{font-size: 14px; color: #ffffff; font-weight: 600; text-decoration: none; background: #a71e22; padding: 10px 25px; border-radius: 30px; display: inline-block;}

.footer-pane { background: url(../images/footerbgimg.jpg) no-repeat center top; background-size: cover; width: 100%; position: relative; padding: 40px 0 0 0; }
.footer-pane .footer-first-section { display: flex; column-gap: 30px; position: relative; z-index: 1; }
.footer-pane .footer-first-section .content-sec { width: 33.333333%; position: relative; }
.footer-pane .footer-first-section .quick-links { width: 16.666667%; position: relative; }
.footer-pane .footer-first-section h3 { color: #fff; font-size: 20px; font-weight: 600; margin-bottom: 20px; }
.footer-pane .footer-first-section p { color: #fff; font-size: 15px; line-height: 1.8; margin-bottom: 20px; }
.footer-pane .footer-first-section .quick-links ul { list-style: none; padding: 0; }
.footer-pane .footer-first-section .quick-links li { position: relative; margin-bottom: 15px; padding-left: 25px; font-size: 15px; }
.footer-pane .footer-first-section .quick-links li::before { content: "\f178"; font-family: "Font Awesome 6 Free"; font-weight: 900; position: absolute; left: 0; color: #ffffff; font-size: 15px; transition: color 0.3s ease-in-out; }
.footer-pane .footer-first-section .quick-links a { text-decoration: none; color: #ffffff; font-size: 15px; transition: color 0.3s ease-in-out; }
.footer-pane .footer-first-section .quick-links a:hover { color: #ffff00; }
.footer-pane .footer-first-section .quick-links li:hover::before { color: #ffff00; }

.footer-pane .footer-second-section{border-top: 1px solid #5b7a64; border-bottom: 1px solid #5b7a64; padding: 15px 0px;}
.footer-pane .footer-second-section .social-footer{position: relative; text-align: center;}
.footer-pane .footer-second-section .social-footer ul { list-style: outside none none; margin: 0; padding: 0; }
.footer-pane .footer-second-section .social-footer ul li { display: inline-block; margin: 0px 15px 0 0px; color: #000000; font-size: 15px; }
.footer-pane .footer-second-section .social-footer a { background-image: none; text-decoration: none; }
.footer-pane .footer-second-section .social-footer ul li .fb { color: #ffffff; display: block; border-radius: 50%; font-size: 20px; height: 50px; line-height: 50px; text-align: center; text-decoration: none; transition: all 0.3s ease 0s; width: 50px; background: transparent; border: 1px dashed #ffffff; }
.footer-pane .footer-second-section .social-footer ul li .fb:hover { background-color: #3b5998; color: #FFFFFF; border: 1px solid #3b5998; }
.footer-pane .footer-second-section .social-footer ul li .yt { color: #ffffff; border-radius: 50%; display: block; font-size: 20px; height: 50px; line-height: 50px; text-align: center; text-decoration: none; transition: all 0.3s ease 0s; width: 50px; background: transparent; border: 1px dashed #ffffff; }
.footer-pane .footer-second-section .social-footer ul li .yt:hover { background-color: #d32727; color: #FFFFFF; border: 1px solid #d32727; }
.footer-pane .footer-second-section .social-footer ul li .ld { color: #ffffff; border-radius: 50%; display: block; font-size: 20px; height: 50px; line-height: 50px; text-align: center; text-decoration: none; transition: all 0.3s ease 0s; width: 50px; background: transparent; border: 1px dashed #ffffff; }
.footer-pane .footer-second-section .social-footer ul li .ld:hover { background-color: #007bb6; color: #FFFFFF; border: 1px solid #007bb6; }
.footer-pane .footer-second-section .social-footer ul li .insta { color: #ffffff; display: block; border-radius: 50%; font-size: 20px; height: 50px; line-height: 50px; text-align: center; text-decoration: none; transition: all 0.3s ease 0s; width: 50px; background: transparent; border: 1px dashed #ffffff; }
.footer-pane .footer-second-section .social-footer ul li .insta:hover { background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); color: #FFFFFF; border: 1px solid #d6249f; }
.footer-pane .copy-right { display: flex; color: #ffffff; justify-content: space-between; padding: 10px 0px; }
.footer-pane .copy-right p { font-size: 14px; margin-bottom: 0px; }
.footer-pane .copy-right a { color: #ffffff; }
.footer-pane .copy-right a:hover { color: #ffff00; }

.v-center {align-items: center;}
.header {display: block; width: 100%; position: relative; z-index: 99; }
.header .item-left {flex: 0 0 25%;}
.header .logo a {font-size: 30px; color: #000000; font-weight: 700; text-decoration: none;}
.header .item-center {flex: 0 0 75%; border: 1px solid #aee4b9; border-radius: 5px; box-shadow: 0 5px 20px -12px #aee4b9;}
.header .item-right {flex: 0 0 0%; display: flex; justify-content: flex-end;}
.header .item-right a {text-decoration: none; font-size: 16px; color: #555555; display: inline-block; margin-left: 10px; transition: color 0.3s ease;}
.header .menu>ul>li {display: inline-block; line-height: 50px; margin: 0px 27px;}
.header .menu>ul>li>a {font-size: 15px; font-weight: 500; color: #000000; position: relative; text-transform: capitalize; transition: color 0.3s ease;}
.header .menu>ul>li .sub-menu {position: absolute; z-index: 500; background-color: #ffffff; box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3); padding: 20px 30px; transition: all 0.5s ease; margin-top: 25px; opacity: 0; visibility: hidden;}

.top-heaed{background: #f1fff4; border-bottom: 1px solid #cdeed4; padding: 10px 0; position: relative; width: 100%; text-align: right;}
.top-heaed ul {margin: 0; padding: 0;}
.top-heaed ul li {list-style-type: none; display: inline-block; font-size: 14px; margin-right: 15px;}
.top-heaed ul li a { color: #000000;}
.top-heaed ul li i {font-size: 14px; margin-right: 10px; color: #30a849; background: transparent; width: 32px; height: 32px; line-height: 32px; border-radius: 50%; text-align: center; border: 1px dashed #30a849;}
.header.sticky {position: fixed; -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.1); box-shadow: 0 5px 15px rgba(0,0,0,.1); -webkit-transition: .4s; transition: .4s; background: #fff; -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown; animation: 500ms ease-in-out 0s normal none 1 running fadeInDown; width: 100%; top: 0px;}
.header.sticky .wrapper {top: 0px;}

.cat-listing{width: 100%; position: relative; background: #ffffff; padding: 40px 0px 0px 0px;}
.cat-listing .cat-box{position: relative; margin-bottom: 40px; border: 1px solid #efefef; padding: 10px;}
.cat-listing .cat-box h3{font-size: 18px; font-weight: 500; color: #000000; padding: 10px 0px 0px 0px; border-top: 1px solid #efefef;}

.internal-banners{width: 100%; position: relative; background-attachment: scroll !important; background-size: cover !important; background-repeat: no-repeat !important; background-position: center top !important; padding: 40px 0px 40px 0px;}
.internal-banners h3{font-size: 30px; color: #ffffff; text-transform: capitalize; font-weight: 600; margin-bottom: 10px; text-align: center;}
.internal-banners .breadcrumb-pane {position: relative; text-align: center;}
.internal-banners .breadcrumb-pane ul {margin: 0; padding: 0;}
.internal-banners .breadcrumb-pane ul li {list-style-type: none; text-align: right; color: #ffffff; display: inline; text-transform: capitalize; font-size: 15px;}
.internal-banners .breadcrumb-pane ul li a {text-decoration: none; color: #ffffff;}
.internal-banners .breadcrumb-pane ul li a:hover {text-decoration: none; color: #fef315;}
.internal-banners .breadcrumb-pane ul li a::after {display: inline; padding-right: .3rem; padding-left: .5rem; color: #ffffff; content: "\f178"; font-family: "Font Awesome 6 Free"; font-weight: 900; font-size: 13px;}

.gallery-details{width: 100%; position: relative; background: #ffffff; padding: 40px 0px 40px 0px;}
.gallery-details .gallery_product { margin-bottom: 40px; position: relative; border: 1px solid #efefef; padding: 10px; }
.gallery-details .gallery_product .img-section { position: relative; overflow: hidden; }
.gallery-details .gallery_product .content-overlay { background: rgba(5,50,8,0.7); position: absolute; height: 100%; width: 100%; left: 0; top: 0; bottom: 0; right: 0; opacity: 0; -webkit-transition: all 0.4s ease-in-out 0s; -moz-transition: all 0.4s ease-in-out 0s; transition: all 0.4s ease-in-out 0s; }
.gallery-details .gallery_product .img-section:hover .content-overlay { opacity: 1; }
.gallery-details .gallery_product .img-section .content-image { width: 100%; }
.gallery-details .gallery_product .img-section .content-details { position: absolute; text-align: center; padding-left: 1em; padding-right: 1em; width: 100%; top: 50%; left: 50%; opacity: 0; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); transform: translate(-50%, -50%); -webkit-transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; transition: all 0.3s ease-in-out 0s; }
.gallery-details .gallery_product .img-section:hover .content-details { top: 50%; left: 50%; opacity: 1; }
.gallery-details .gallery_product .img-section .content-details i { color: #000000; font-size: 20px; background: #ffffff; border-radius: 50%; padding: 15px; margin-bottom: 15px; }

.product-cat{width: 100%; position: relative; background: #ffffff; padding: 40px 0px 0px 0px;}
.product-cat .product-list{margin-bottom: 40px; background: #fbfbfb;}
.product-cat .product-list .img-section{position: relative; overflow: hidden;}
.product-cat .product-list .img-section img{width: 100%; height: auto;} 
.product-cat .product-list .title{background: #f1fff4;}
.product-cat .product-list .title h3{font-size: 18px; font-weight: 500; color: #a71e22; padding: 15px;}
.product-cat .product-list .title h3::after{content: "\f178"; font-family: "Font Awesome 6 Free"; font-weight: 900; position: absolute; right: 0; color: #a71e22; font-size: 15px; transition: color 0.3s ease-in-out; background: #aee4b9; text-align: center; padding: 15px; margin-top: -13px;}

.product-details{width: 100%; position: relative; background: #ffffff; padding: 40px 0px 0px 0px;}
.product-details .detail-img{position: relative; overflow: hidden; margin-bottom: 40px; background: #fbfbfb; border: 1px solid #dbdbdb;}
.product-details .detail-img img{width: 100%; height: auto;}

.product-details .detail-content{position: relative; margin-bottom: 40px;}
.product-details .detail-content h3{font-size: 20px; font-weight: 600; color: #000000; margin-bottom: 20px;}
.product-details .detail-content p{font-size: 15px; line-height: 1.8; margin-bottom: 20px; text-align: justify; } 
.product-details .detail-content a{font-size: 15px; color: #000000; text-decoration: none; transition: color 0.3s ease; background: #aee4b9; padding: 10px 15px; border-radius: 30px; text-align: center; font-weight: 600; text-transform: uppercase; display: inline-block;}
.product-details .detail-content a:hover{color: #ffffff; background: #30a849;}

.blog-listing{width: 100%; position: relative; background: #ffffff; padding: 40px 0px 0px 0px;}
.blog-listing .maindiv{position: relative; width: 100%; margin-bottom: 30px;}
.blog-listing .maindiv .ins-img-div {position: relative;background-color: #ffffff;width: 100%;box-shadow:-5px 5px 19px rgba(200, 200, 200, 0.5), 5px 5px 19px rgba(200, 200, 200, 0.5);}
.blog-listing .maindiv .ins-img-div img{width: 100%; height: auto;}
.blog-listing .maindiv .textdiv p{padding: 0px 0px; color: #000000; font-size: 16px; line-height: 27px; font-weight: 500; margin: 15px 0px;}
.blog-listing .maindiv .textdiv a{font-size: 14px; color: #a71e22; font-weight: 600; text-decoration: none;}

.blog-details { width: 100%; position: relative; background: #FFFFFF; padding: 30px 0px 0px 0px; } 
.blog-details .detail-content { position: relative; margin-bottom: 30px; } 
.blog-details .detail-content img { margin-bottom: 20px; } 
.blog-details .detail-content .title-date { position: relative; margin-bottom: 20px; } 
.blog-details .detail-content .title-date h1 { font-size: 20px; font-weight: 600; margin-bottom: 10px; line-height: 35px; } 
.blog-details .detail-content .title-date p { font-size: 15px; color: #000000; margin-bottom: 0px; } 
.blog-details .detail-content .title-date p i { color: #30a849; margin-right: 5px; font-size: 16px; } 
.blog-details .detail-content p { font-size: 16px; line-height: 26px; margin-bottom: 20px; text-align: justify; } 
.blog-details .detail-content h1 { font-size: 25px; font-weight: 600; margin-bottom: 15px; } 
.blog-details .detail-content h2 { font-size: 22px; font-weight: 600; margin-bottom: 15px; } 
.blog-details .detail-content h3 { font-size: 20px; font-weight: 600; margin-bottom: 15px; } 
.blog-details .detail-content h4 { font-size: 18px; font-weight: 600; margin-bottom: 15px; } 
.blog-details .detail-content h5 { font-size: 16px; font-weight: 600; margin-bottom: 15px; } 
.blog-details .detail-content h6 { font-size: 14px; font-weight: 600; margin-bottom: 15px; } 
.blog-details .detail-content ul { margin: 0; padding: 0; } 
.blog-details .detail-content ul li { list-style-type: none; display: block; font-size: 16px; color: #000000; margin-bottom: 15px; padding-left: 30px; text-align: justify; } 
.blog-details .detail-content ul li::before { display: inline-block; color: #30a849; content: "\f00c"; font-family: "Font Awesome 6 Free"; font-weight: 900; margin-left: -30px; position: absolute; } 
.blog-details .detail-content table { border: 1px solid #ccc; border-collapse: collapse; margin: 0 0 30px 0; padding: 0; width: 100%; table-layout: fixed; } 
.blog-details .detail-content table caption { font-size: 1.5em; margin: .5em 0 .75em; } 
.blog-details .detail-content table tr { background-color: #f8f8f8; border: 1px solid #ddd; padding: .35em; } 
.blog-details .detail-content table th, .blog-details .detail-content table td { padding: .625em; text-align: left; } 
.blog-details .detail-content table th { font-size: .85em; letter-spacing: .1em; text-transform: uppercase; } 

.contact-us-section {width: 100%; position: relative; padding: 40px 0px 0px 0px; margin-bottom: 30px; }  
.contact-us-section .mapdiv {padding: 10px; border: 1px solid #f3f3f3;}  
.contact-us-section .title-main{text-align: center; justify-content: center; align-items: center; margin-bottom: 30px;}
.contact-us-section .title-main h2{text-align: center; font-weight: 600; text-transform: uppercase; color: #30a849;}
.contact-us-second{width: 100%; position: relative; padding: 0; margin: 0px 0px 0px 0px;}
.contact-us-second .contact-iconsec { position: relative; gap: 30px; width: 100%; background: #66b474; display: flex; align-items: center; text-align: center; border-radius: 8px; padding: 30px 30px; margin-bottom: 30px; }
.contact-us-second .contact-iconsec .icondiv { position: relative; width: 20%; }
.contact-us-second .contact-iconsec .icondiv img { border: 1px dashed #ffffff; border-radius: 50px; }
.contact-us-second .contact-iconsec .textdiv { position: relative; width: 80%;  text-align: justify; }
.contact-us-second .contact-iconsec .textdiv p { font-family: sans-serif; font-size: 16px; line-height: 26px; color: #ffffff; margin: 0px 0px 0px 0px; }
.contact-us-second .contact-iconsec .textdiv a{color: #ffffff; text-decoration: none;}
.contact-us-second .contact-iconsec .textdiv a:hover{color: #a71e22;}
.contact-us-second .contact-iconsec .textdiv h3{font-size: 16; color: #ffffff;}
.contact-us-second  .second {position: relative; width: 100%; background-color: #ffffff; padding: 30px; display: flex; justify-content: center; align-items: center; margin: 0;}  
.contact-us-second  .second .form-container {background: #ffffff; padding: 0px; width: 750px;}  
.contact-us-second  .second form {display: grid; grid-template-columns: 1fr 1fr; gap: 15px; align-items: center; }  
.contact-us-second  .second label { display: block; margin-bottom: 5px; font-size: 14px; color: black;}  
.contact-us-second  .second label::after {content: '*'; color: #ed0909;; margin-left: 5px;}  
.contact-us-second .second input,  
.contact-us-second  .second select {width: 100%; padding: 12px; border: 1px solid #f3f3f3; box-sizing: border-box; font-size: 14px; background: transparent; height: 55px; margin-bottom: 26px; font-family: "Inter", serif;}  
.contact-us-second  .second textarea {width: 100%; padding: 12px; border: 1px solid #f3f3f3; box-sizing: border-box; font-size: 16px; background: transparent; resize: none; }  
.contact-us-second  .second .full-width {grid-column: span 2;}  
.contact-us-second  .second .contact-container {display: flex; align-items: center; border: 1px solid #f3f3f3; background: transparent; padding: 0px 12px; height: 55px; margin-bottom: 26px;}  
.contact-us-second  .second .contact-container img {width: 25px; height: 18px; margin-right: 8px;}  
.contact-us-second  .second .contact-container span {font-size: 14px; margin-right: 5px;}  
.contact-us-second  .second .contact-container input {border: none; outline: none; flex: 1; position: relative; top: 15px; font-size: 16px; background: transparent;}  
.contact-us-second  .second .button-container {display: flex; justify-content: flex-start; margin-top: 10px; height: 55px;}  
.contact-us-second  .second button {background: #66b474; color: white; padding: 12px; border: none; cursor: pointer; width: 194px; text-transform: uppercase; font-size: 18px; font-weight: 700; text-align: center; height: 55px;}  
.contact-us-second  .second button:hover {background-color: transparent; border: 1px solid #f3f3f3; color: black;}  
.contact-us-second  .second option {background-color: #e6f3e8; color: #000000;}  
.contact-us-second  .second option:checked {background-color: #f3f3f3; color: black;}  
.contact-us-second  .second select option[value="select-products"] {background-color: #66b474; color: black;}  

.contact-us-second .second .full-width {grid-column: span 2;}
.contact-us-second .second .contact-container {display: flex;align-items: center;border: 1px solid #f3f3f3; background: transparent;padding: 0px 12px; height: 55px; margin-bottom: 26px;}
.contact-us-second .second .contact-container input {border: none; outline: none; flex: 1;position: relative; font-size: 16px;  background: transparent; padding-left: 50px; }
.contact-us-second .second .contact-container .iti { display: flex; align-items: center; width: 100%;}
.contact-us-second .second .contact-container .iti__flag-container { position: absolute; left: 0; top: 0;}
.contact-us-second .second .contact-container .iti__selected-flag {height: 100%; }
.contact-us-second .second .contact-container .iti__country-code { margin-left: 10px;}
.contact-us-second  .second .contact-container .iti--separate-dial-code .iti__selected-flag {background-color: transparent;}

.contact-us-second .career-para{text-align: center; justify-content: center; text-align: center; color: #ffffff;}
.contact-us-second .career-para h2{font-size: 26px; font-weight: 600; margin-bottom: 20px; color: #ffffff;}
.contact-us-second .career-para p{font-size: 20px;}
.sec-bg { background-color: #66b474; padding: 30px 0px; }
.contact-us-second .upload-container{margin-top: 20px;}
#cv-input {border: none;font-size: 14px;}
.contact-us-first{position: relative; width: 100%; padding: 0; margin: 30px 0px 30px 0px;}
.contact-us-first .imgdiv{position: relative; width: 100%;}
.contact-us-first .career-para{text-align: justify; justify-content: start; }
.contact-us-first .career-para h2{font-size: 26px; font-weight: 600; margin-bottom: 20px; color: #46cc63;}
.contact-us-first .career-para p{font-size: 16px; line-height: 26px; }

.thank-you{ background: url(../images/thank-you-bg.png) no-repeat center top; background-size: cover; width: 100%; position: relative; padding: 40px 0 0 0; }
.thank-you-content{border: 1px solid #30a849; border-radius: 10px; padding: 30px; margin-bottom: 30px;}
.thank-you-content h3{ font-size: 20px; font-weight: 600; margin-bottom: 15px; } 
.thank-you-content p{font-size: 16px; line-height: 26px; margin-bottom: 20px; font-weight: 500;}
.thank-you-content a{color: #30a849; font-weight: 700;}
.thank-you-content img{margin-bottom: 20px;}

@media screen and (max-width: 600px) { 
  .blog-details .detail-content table { border: 0; } 
  .blog-details .detail-content table caption { font-size: 1.3em; } 
  .blog-details .detail-content table thead { border: none; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; } 
  .blog-details .detail-content table tr { border-bottom: 3px solid #ddd; display: block; margin-bottom: .625em; } 
  .blog-details .detail-content table td { border-bottom: 1px solid #ddd; display: block; font-size: .8em; text-align: left; } 
  .blog-details .detail-content table td::before { content: attr(data-label); float: left; font-weight: bold; text-transform: uppercase; } 
  .blog-details .detail-content table td:last-child { border-bottom: 0; } 
} 
.blog-details .popular-post { position: relative; border: 1px solid #ebebeb; padding: 5px 20px; } 
.blog-details .popular-post h3 { font-size: 20px; font-weight: 600; border-bottom: 1px solid #ebebeb; width: 100%; text-align: center; text-transform: uppercase; padding: 10px 0px; margin-bottom: 15px; } 
.blog-details .popular-post .post-section { border-bottom: 1px solid #ebebeb; padding-bottom: 10px; margin-bottom: 15px; } 
.blog-details .popular-post .post-section img { margin-bottom: 15px; } 
.blog-details .popular-post .post-section h4 { font-size: 16px; font-weight: 500; margin-bottom: 5px; } 
.blog-details .popular-post .post-section h4 a { color: #000000; } 
.blog-details .popular-post .post-section h4 a:hover { color: #30a849; transition: 0.5s linear; }


@media (min-width: 992px) {
	.header .menu>ul>li.menu-item-has-children:hover .sub-menu {margin-top: 0; visibility: visible; opacity: 1;}
}
.header .menu>ul>li .sub-menu>ul>li { line-height: 1; } 
.header .menu>ul>li .sub-menu>ul>li>a { display: inline-block; padding: 10px 0; font-size: 15px; color: #555555; transition: color 0.3s ease; text-decoration: none; text-transform: capitalize; } 
.header .menu>ul>li .single-column-menu { min-width: 280px; max-width: 350px; } 
.header .menu>ul>li .sub-menu.mega-menu>.list-item>ul>li { line-height: 1; display: block; } 
.header .menu>ul>li .sub-menu.mega-menu>.list-item>ul>li>a { padding: 10px 0; display: inline-block; font-size: 15px; color: #555555; transition: color 0.3s ease; } 
.header .menu>ul>li .sub-menu.mega-menu { left: 50%; transform: translateX(-50%); } 
.header .menu>ul>li .sub-menu.mega-menu-column-4 { max-width: 1100px; width: 100%; display: flex; flex-wrap: wrap; padding: 20px 15px; } 
.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item { flex: 0 0 25%; padding: 0 15px; } 
.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item .title { font-size: 16px; color: #ea4636; font-weight: 500; line-height: 1; padding: 10px 0; } 
.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item.text-center .title { text-align: center; } 
.header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item img { max-width: 100%; width: 100%; vertical-align: middle; margin-top: 10px; height: 300px; object-fit: cover; } 
.header .menu>ul>li .sub-menu.mega-menu>.list-item>ul>li>a:hover, .header .menu>ul>li .sub-menu>ul>li>a:hover, .header .item-right a:hover, .header .menu>ul>li:hover>a { color: #ea4636; } 
.mobile-menu-head, .mobile-menu-trigger { display: none; }
/*responsive*/
@media (max-width: 991px) {
.header .item-center { order: 3; flex: 0 0 100%; border: none; } 
.header .item-left, .header .item-right { flex: 0 0 35%; } 
.v-center { justify-content: space-between; } 
.header .mobile-menu-trigger { display: flex; height: 30px; width: 30px; margin-left: 15px; cursor: pointer; align-items: center; justify-content: center; } 
.header .mobile-menu-trigger span { display: block; height: 2px; background-color: #333333; width: 24px; position: relative; } 
.header .mobile-menu-trigger span:before, .header .mobile-menu-trigger span:after { content: ""; position: absolute; left: 0; width: 100%; height: 100%; background-color: #333333; } 
.header .mobile-menu-trigger span:before { top: -6px; } 
.header .mobile-menu-trigger span:after { top: 6px; } 
.header .item-right { align-items: center; } 
.header .menu { position: fixed; width: 320px; background-color: #ffffff; left: 0; top: 0; height: 100%; overflow: hidden; transform: translate(-100%); transition: all 0.5s ease; z-index: 1099; } 
.header .menu.active { transform: translate(0%); } 
.header .menu>ul>li { line-height: 1; margin: 0; display: block; } 
.header .menu>ul>li>a { line-height: 50px; height: 50px; padding: 0 50px 0 15px; display: block; border-bottom: 1px solid rgba(0, 0, 0, 0.1); } 
.header .menu>ul>li>a i { position: absolute; height: 50px; width: 50px; top: 0; right: 0; text-align: center; line-height: 50px; transform: rotate(-90deg); } 
.header .menu .mobile-menu-head { display: flex; height: 50px; border-bottom: 1px solid rgba(0, 0, 0, 0.1); justify-content: space-between; align-items: center; position: relative; z-index: 501; position: sticky; background-color: #ffffff; top: 0; } 
.header .menu .mobile-menu-head .go-back { height: 50px; width: 50px; border-right: 1px solid rgba(0, 0, 0, 0.1); cursor: pointer; line-height: 50px; text-align: center; color: #000000; font-size: 16px; display: none; } 
.header .menu .mobile-menu-head.active .go-back { display: block; } 
.header .menu .mobile-menu-head .current-menu-title { font-size: 15px; font-weight: 500; color: #000000; } 
.header .menu .mobile-menu-head .mobile-menu-close { height: 50px; width: 50px; border-left: 1px solid rgba(0, 0, 0, 0.1); cursor: pointer; line-height: 50px; text-align: center; color: #000000; font-size: 25px; } 
.header .menu .menu-main { height: 100%; overflow-x: hidden; overflow-y: auto; } 
.header .menu>ul>li .sub-menu.mega-menu, .header .menu>ul>li .sub-menu { visibility: visible; opacity: 1; position: absolute; box-shadow: none; margin: 0; padding: 15px; top: 0; left: 0; width: 100%; height: 100%; padding-top: 65px; max-width: none; min-width: auto; display: none; transform: translateX(0%); overflow-y: auto; } 
.header .menu>ul>li .sub-menu.active { display: block; }

	@keyframes slideLeft {
		0% {
			opacity: 0;
			transform: translateX(100%);
		}

		100% {
			opacity: 1;
			transform: translateX(0%);
		}
	}

	@keyframes slideRight {
		0% {
			opacity: 1;
			transform: translateX(0%);
		}

		100% {
			opacity: 0;
			transform: translateX(100%);
		}
	}
  .header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item img { margin-top: 0; } 
  .header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item.text-center .title { margin-bottom: 20px; } 
  .header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item.text-center:last-child .title { margin-bottom: 0px; } 
  .header .menu>ul>li .sub-menu.mega-menu-column-4>.list-item { flex: 0 0 100%; padding: 0px; } 
  .header .menu>ul>li .sub-menu>ul>li>a, .header .menu>ul>li .sub-menu.mega-menu>.list-item>ul>li>a { display: block; } 
  .header .menu>ul>li .sub-menu.mega-menu>.list-item>ul { margin-bottom: 15px; } 
  .menu-overlay { position: fixed; background-color: rgba(0, 0, 0, 0.5); left: 0; top: 0; width: 100%; height: 100%; z-index: 1098; visibility: hidden; opacity: 0; transition: all 0.5s ease; } 
  .menu-overlay.active { visibility: visible; opacity: 1; }
}

@media (max-width: 991.98px) { 
  .footer-pane .footer-first-section { flex-wrap: wrap; justify-content: center; }
  .footer-pane .footer-first-section .quick-links { width: 47%; margin-bottom: 20px; }
  .footer-pane .footer-first-section .content-sec { width: 100%; text-align: left; } 
}
@media (max-width: 767.98px) { 
  .footer-pane .footer-first-section .quick-links { width: 46%; text-align: left; } 
  .footer-pane .footer-first-section .quick-links ul { padding: 0; text-align: left; } 
  .footer-pane .footer-first-section .quick-links li { display: block; padding-left: 15px; margin: 5px 10px; } 
  .footer-pane .footer-first-section .quick-links li::before { left: -10px; } 
  .footer-pane .footer-first-section .content-sec { text-align: left; }
  .footer-pane .copy-right{display: block;}
  .footer-pane .copy-right p{font-size: 13px; margin-bottom: 10px;}
  .footer-pane .footer-first-section p{font-size: 13px; line-height: 1.6;}
  .footer-pane .footer-first-section h3{font-size: 18px; margin-bottom: 13px;}
  .footer-pane .footer-first-section .quick-links a{font-size: 13px;}
  .top-heaed{display: none;}
  .cat-listing .cat-box h3{font-size: 13px;}
  .tawts .content-pane::after{background: none; width: 100%; height: auto;}
  .tawts .content-pane{padding: 15px;}
  .tawts .content-pane .detail-cont .left-content{width: 100%; padding: 0px;}
  .tawts .content-pane .detail-cont{display: block;}
  .tawts .content-pane .detail-cont .rght-img{bottom: -13px;}
  .our-founder .maindiv{display: block;}
  .our-founder .maindiv .right img{border-bottom-left-radius:20px; border-top-right-radius:0px}
  .our-founder .maindiv .left{padding: 15px 15px 0px 15px;}
  .mob-banner-sec{display: block;}
  .banner-sec{display: none;}
  .about-first .four-box-content .box-wrapper {display: block;}
  .about-first .four-box-content .box-wrapper .box {  border-bottom: 2px solid #ffffff;}
  .about-us-sec-second{padding: 0px 15px;}
  .vision-mission{display: block; padding: 0px 15px;}
  .vision-mission .vm-content-bg1 {width: 100%; margin-bottom: 30px;}
  .vision-mission .vm-content-bg2 {width: 100%;}
  .about-us-sec-second .ab-img {margin-bottom: 30px;}

  .contact-us-second .second {display: block;}
  .contact-us-second .contact-iconsec .textdiv p {font-size: 15px; line-height: 24px;}
  .contact-us-second .contact-iconsec .textdiv h3 {font-size: 20px;}
  .contact-us-second .contact-iconsec .textdiv a {font-size: 15px;}

  .contact-us-second .second {display: block; width: 100%;}
.contact-us-second .second .form-container {width: 100%;}
.contact-us-second .second form {display: block;}
.contact-us-second .contact-iconsec .textdiv p {font-size: 15px; line-height: 24px;}
.contact-us-second .contact-iconsec .textdiv h3 {font-size: 20px;}
.contact-us-second .contact-iconsec .textdiv a {font-size: 15px;}
.contact-us-first{padding: 0px 15px;}
.contact-us-first .career-para h2 {font-size: 22px;}
.contact-us-first .imgdiv {margin-bottom: 30px;}
.contact-us-second .career-para p {font-size: 16px; text-align: justify;}
}
